.mdc_box {
  width: 100%;
  height: 100%;
  font-family: "PingFang SC";
  .top_tile {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 37px 0;
    box-sizing: border-box;
  }
  .center_cont {
    display: flex;
    justify-content: space-between;
    .left_container {
      width: 50%;
      .top {
        width: 100%;
        height: 105px;
        background: url("../../../../assets/referral/top_banner.png") no-repeat center;
        background-size: 100% 100%;
        padding: 10px 24px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        // align-items: flex-end;
        .left_cont {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .top_name {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;
            background: linear-gradient(225deg, #18c8ff 14.89%, #c191ff 85.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          .top_num {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 108.6%;
            text-align: center;
            color: #ffffff;
          }
        }
        .right_cont {
          display: flex;
          align-items: flex-end;
          button {
            font-family: "Manrope";
            width: 106px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            cursor: pointer;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
            border-radius: 14.375px;
          }
        }
      }
      .center {
        margin-top: 15px;
        width: 100%;
        height: 357px;
        padding: 18px 20px;
        background: linear-gradient(116.29deg, rgba(98, 98, 98, 0.28) -16.91%, rgba(0, 0, 0, 0.28) 101.76%);
        backdrop-filter: blur(100px);
        border: 2px solid rgba(98, 98, 98, 0.28);
        border-radius: 30px;
        padding-right: 10px;
        box-sizing: border-box;
        // overflow: auto;
        .scroll_box {
          height: 300px;
          overflow: auto;
          &::-webkit-scrollbar {
            display: block !important;
            width: 10px;
            height: 3px;
          }
          &::-webkit-scrollbar-track {
            background: #5f5f5f;
            border-radius: 16.2252px;
          }
          &::-webkit-scrollbar-thumb {
            height: 20px;
            border-radius: 10px;
            background: #5f5f5f;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.54);
            border-radius: 13.6676px;
          }
        }
        .top_title {
          font-weight: 800;
          font-size: 24px;
          line-height: 33px;
          font-family: "Manrope";
          background: linear-gradient(225deg, #18c8ff 14.89%, #c191ff 85.85%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        .list_box {
          width: 100%;
          ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            overflow: scroll;
            overflow: auto;

            li {
              margin-top: 20px;
              height: auto;
              padding: 6px;
              box-sizing: border-box;
              background: url("../../../../assets/referral/nft_bg.png") no-repeat center;
              background-size: 100% 100%;
              margin-right: 5px;
              img {
                width: 120px;
                height: 120px;
              }
              .top_no {
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 108.6%;
                text-align: center;
                color: #ffffff;
                margin-top: 8px;
                padding-bottom: 10px;
                box-sizing: border-box;
              }
            }
            li:nth-child(4n) {
              margin-right: 0;
            }
          }
        }
      }
      .bottom {
        margin-top: 15px;
        width: 100%;
        background: linear-gradient(116.29deg, rgba(98, 98, 98, 0.28) -16.91%, rgba(0, 0, 0, 0.28) 101.76%);
        backdrop-filter: blur(100px);
        border: 2px solid rgba(98, 98, 98, 0.28);
        border-radius: 30px;
        padding: 16px 37px;
        box-sizing: border-box;
        .top_cont {
          display: flex;
          justify-content: space-between;
          .top_title {
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;
            font-family: "Manrope";
            background: linear-gradient(225deg, #18c8ff 14.89%, #c191ff 85.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          button {
            font-family: "Manrope";
            width: 106px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            cursor: pointer;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
            border-radius: 14.375px;
          }
        }
        .middle_cont {
          display: flex;
          justify-content: space-between;
          font-family: "Manrope";
          margin-top: 17px;
          position: relative;
          .top_title {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #ffffff;
          }
          .left_rewards {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;

            color: #ffffff;
          }
          .right_con {
            display: flex;
          }
          .rewards_num {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            background: linear-gradient(225deg, #18c8ff 14.89%, #c191ff 85.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          .rewards_type {
            margin-left: 28px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #ffffff;
          }
          &::after {
            content: "";
            width: 100%;
            height: 2px;
            background: url("../../../../assets/referral/Line.png") no-repeat center;
            background-size: 100% 100%;
            position: absolute;
            bottom: -10px;
            left: 0;
          }
        }
        .bottom_cont {
          margin-top: 30px;
          font-family: "Manrope";
          width: 100%;
          .top_title {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 108.6%;
            text-align: center;
            color: #ffffff;
          }
          ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 13px;
            li {
              .top_title {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                width: 50px;
                color: #ffffff;
                text-align: left;
              }
              .add_margin {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    .right_container {
      width: 49%;
      height: 723px;
      background: linear-gradient(116.29deg, rgba(98, 98, 98, 0.28) -16.91%, rgba(0, 0, 0, 0.28) 101.76%);
      backdrop-filter: blur(100px);
      border-radius: 30px;
      border: 2px solid rgba(98, 98, 98, 0.28);
      padding: 17px 35px;
      box-sizing: border-box;
      font-family: "Manrope";
      .top {
        .top_cont {
          display: flex;
          justify-content: space-between;
          .top_title {
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;
            font-family: "Manrope";
            background: linear-gradient(225deg, #18c8ff 14.89%, #c191ff 85.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          button {
            font-family: "Manrope";
            width: 106px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            cursor: pointer;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
            border-radius: 14.375px;
          }
        }
        .middle_cont {
          display: flex;
          justify-content: space-between;
          font-family: "Manrope";
          margin-top: 17px;
          position: relative;
          .top_title {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #ffffff;
          }
          .left_rewards {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;

            color: #ffffff;
          }
          .right_con {
            display: flex;
          }
          .rewards_num {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            background: linear-gradient(225deg, #18c8ff 14.89%, #c191ff 85.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          .rewards_type {
            margin-left: 28px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #ffffff;
          }
        }
      }
      .middle {
        width: 100%;
        height: 170px;
        background: linear-gradient(116.29deg, rgba(98, 98, 98, 0.28) -16.91%, rgba(0, 0, 0, 0.28) 101.76%);
        backdrop-filter: blur(100px);
        border-radius: 30px;
        border: 2px solid rgba(98, 98, 98, 0.28);
        padding: 21px 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        .left {
          img {
            width: 100px;
            height: 100px;
          }
        }
        .center {
          height: 65px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .top_title {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #ffffff;
          }
          .honer_box {
            width: 163px;
            height: 38px;
            background: linear-gradient(270deg, rgba(24, 200, 255, 0) 0%, rgba(147, 63, 254, 0.38) 91.1%);
            border-radius: 10px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            line-height: 38px;
          }
        }
        .right {
          padding-bottom: 10px;
          box-sizing: border-box;
          .address_box {
            display: flex;
            align-items: center;
            .address {
              font-weight: 500;
              font-size: 14px;
              line-height: 19px;
              color: #ffffff;
            }
            img {
              width: 10px;
              height: 12px;
              margin-left: 8px;
            }
          }
        }
      }
      .bottom {
        margin-top: 24px;
        .top_title {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          text-align: left;
          color: #ffffff;
        }
        .nft_box {
          margin-top: 24px;
          display: flex;
          justify-content: center;
          .nft_container {
            width: 287px;
            height: 327px;
            background: linear-gradient(112.19deg, rgba(94, 94, 94, 0.28) 2.52%, rgba(92, 92, 92, 0.28) 101.54%);
            backdrop-filter: blur(82.3084px);
            border: 2px solid rgba(94, 94, 94, 0.28);
            border-radius: 16.4617px;
            padding: 9px;
            box-sizing: border-box;
            cursor: pointer;
            img {
              width: 100%;
              height: auto;
            }
            .nft_name {
              text-align: center;
              font-weight: 800;
              font-size: 15.2536px;
              line-height: 108.6%;
              color: #ffffff;
              margin-top: 18px;
            }
          }
        }
      }
    }
  }
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none !important;
}
.modal_box {
  display: flex;
  justify-content: center;
  align-items: center;
  .content_box {
    width: 473px;
    height: 754px;
    background: linear-gradient(112.19deg, rgba(94, 94, 94, 0.28) 2.52%, rgba(92, 92, 92, 0.28) 101.54%);
    backdrop-filter: blur(116.916px);
    border-radius: 23.3832px;
    border: 2px solid rgba(94, 94, 94, 0.28);
    padding: 19px 26px;
    .top_close {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      img {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }
    .middle_img {
      img {
        width: 421px;
        height: 421px;
      }
    }
    .number_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .nft_name {
        font-style: normal;
        font-weight: 800;
        font-size: 23.7154px;
        line-height: 108.6%;
        color: #ffffff;
        font-family: "Manrope";
      }
      button {
        font-family: "Manrope";
        width: 113px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 34px;
        color: #ffffff;
        background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
        border-radius: 20px;
      }
    }
    .content_cont {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-left: 54px;
      padding-right: 44px;
      width: 100%;
      .left {
        .top_title {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;

          color: #ffffff;
        }
        .honer_box {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 400;
          font-size: 18.6177px;
          line-height: 25px;
          color: #ffffff;
          // margin-top: 10px;
          span {
            background: linear-gradient(225deg, #18c8ff 14.89%, #c191ff 85.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
      }
    }
    .input_container {
      width: 100%;
      margin-top: 23px;
      .input_cont {
        height: 38px;
        width: 100%;
        background: #485470;
        border-radius: 20px;
        .MuiInput-underline {
          height: 100%;
          text-align: center;
          input {
            height: 100%;
            color: #a4a4a4;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
    .bottom_btn {
      display: flex;
      margin-top: 23px;
      justify-content: center;
      button {
        font-family: "Manrope";
        width: 158px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 34px;
        color: #ffffff;
        background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
        border-radius: 20px;
      }
    }
  }
}
