.mobile_header_box {
    width: 100%;
    height: 4rem;
    .container_box {
        width: 100%;
        display: flex;
        justify-content: center;
        .left {
            img {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }
}