.header_box {
  width: 100%;
  background-image: url("../../../assets/header/header_bg.png");
  background-repeat:no-repeat ;
  background-position: center;
  background-size: cover;
  background-color: linear-gradient(
    116.29deg,
    rgba(0, 0, 0, 0.35) -29.94%,
    rgba(0, 0, 0, 0.26) -29.93%,
    rgba(0, 0, 0, 0.15) 101.76%
  );
  backdrop-filter: blur(100px);
  height: 108px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  .container_box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    .left {
      display: flex;
      align-items: center;
    }
    .right {
      display: flex;
      ul {
        display: flex;
        align-items: center;
        li {
          margin-right: 62px;
          font-size: 18px;
          cursor: pointer;
          &:first-child {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 50px;
              height: 3px;
              background: url("../../../assets/header/chose_bg.png") no-repeat center;
              background-size: cover;
              left: 50%;
              bottom: 0px;
              transform: translateX(-50%);
            }
          }
          button {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            color: #fff;
            cursor: pointer;
          }
        }
      }
      .btn_box {
        display: flex;
        height: 44px;
        border-radius: 22px;
        width: 206px;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 17px;
          cursor: pointer;
        }
        .Referral_box {
          width: 50%;
          height: 100%;
          border-radius: 22px 0 0 22px;
          background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
          color: #fff;
        }
        .Wallet_box {
          width: 50%;
          height: 100%;
          border-radius: 0 22px 22px 0;
        }
      }
    }
  }
}
