.mobile_million_box {
  width: 100%;
  margin-top: 4rem;
  height: 100%;
  position: relative;
  .big_bg {
    position: absolute;
    top: -40rem;
    left: -160%;
    width: 280%;
    height: 150%;
    background: url("../../../assets/mobile/phone_back.png") no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  .center_cont {
    padding: 0 32px;
    .top_content {
      img {
        width: 370px;
        height: 370px;
      }
      .accord {
        width: 100%;
        text-align: center;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 108.6%;
        text-align: center;
        color: #ffffff;
        height: auto;
      }
    }
    .content_box {
      .top_cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 108.6%;
          color: #FFFFFF;
        }
        .start_btn {
          margin-top: 0;
          width: 121.27px;
          height: 29px;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 800;
          font-size: 15.8182px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }
      ul {
        justify-content: center;
      }
    }
  }
}
