.mobile_home_box {
  width: 100%;
  font-family: "PingFang SC";
  .block1 {
    min-height: 100vh;
    video {
      // top: -1px;
    }
    .center_box {
      width: 100%;
      height: 100%;
      top: 0;
      .content_box {
        height: 100%;
        img {
          width: 90%;
          // margin-top: 6rem;
        }
        .word_content {
          width: 100%;
          padding: 0 1rem;
          font-size: 20px;
          margin-top: 4rem;
          line-height: 108.6%;
        }
        .bottom_centent {
          margin-top: 5rem;
        }
      }
    }
  }
  .block2 {
    min-height: auto;
    .container_box {
      width: 100%;
      padding: 0 26px;
      height: auto;
      align-items: flex-start;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      p {
        width: 100%;
        padding-left: 40px;
        font-size: 14px;
        &::before {
          left: 0;
          top: -10px;
          content: "";
          width: 47px;
          height: 22px;
          position: absolute;
        }
      }
      .posti_box {
        height: 730px;
        p {
          width: 180px;
          height: 180px;
          font-size: 14px;
        }
        .first_box {
          top: 0px;
          left: 0;
          z-index: 2;
        }
        .second_box {
          top: 123px;
          right: 0px !important;
          left: auto;
          z-index: 2;
        }
        .third_box {
          left: 0px;
          top: 250px;
          z-index: 2;
        }
        .forth_box {
          right: 0px !important;
          left: auto;
          top: 380px;
          z-index: 2;
        }
        .white_box {
          width: 180px;
          height: 180px;
          cursor: pointer;
          background: url("../../../assets/home/whitepaper_bg.png") no-repeat center;
          background-size: cover;
          /* Note: backdrop-filter has minimal browser support */
          // font-weight: 800;
          border-radius: 130px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: #fff;
          padding: 0 24px;
          position: absolute;
          left: 0px;
          top: 520px;
          &::after {
            content: "";
            background: none;
          }
        }
        .ball1 {
          left: -55px;
          bottom: -120px;
        }
        .ball2 {
          left: -60px;
        }
        .ball3 {
          right: -80px !important;
          left: auto;
          top: 50px;
        }
        .ball5 {
          top: 460px;
          right: -110px;
        }
      }
      .white_paper_mobile {
        width: 152px;
        height: 152px;
        background: url("../../../assets/mobile/home/ball_bg.png") no-repeat center;
        background-size: cover;
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 28px;
        bottom: -125px;
      }
    }
  }
  .block3 {
    margin-top: 145px;
    .container {
      width: 100%;
      padding: 0 26px;
      .first_nav {
        width: 100%;
        li {
          width: 100%;
          width: 375px;
          height: 359.88px;
          padding: 20px;
          &:nth-child(1) {
            background: url("../../../assets/mobile/home/first_bg.png") no-repeat center;
            background-size: 100% 100%;
            &::after {
              background: url("../../../assets/mobile/home/cbridge.png") no-repeat center;
              background-size: 100% 100%;
            }
          }
          &:nth-child(2) {
            background: url("../../../assets/mobile/home/second_bg.png") no-repeat center;
            background-size: 100% 100%;
            &::after {
              background: url("../../../assets/mobile/home/cbridge_dog.png") no-repeat center;
              background-size: 100% 100%;
            }
          }
          &:nth-child(3) {
            background: url("../../../assets/mobile/home/third_bg.png") no-repeat center;
            background-size: 100% 100%;
            &::after {
              background: url("../../../assets/mobile/home/cwap.png") no-repeat center;
              background-size: 100% 100%;
            }
          }
          &:nth-child(4) {
            background: url("../../../assets/mobile/home/forth_bg.png") no-repeat center;
            background-size: 100% 100%;
            &::after {
              background: url("../../../assets/mobile/home/cerbs.png") no-repeat center;
              background-size: 100% 100%;
            }
          }
          &::after {
            width: 187.5px;
            height: 196.57px;
          }
          .top {
            .title {
              font-size: 38px;
            }
            .content {
              margin-top: 12px;
              font-size: 13px;
            }
          }
          .bottom {
            width: 125px;
            height: 28px;
            background-size: cover;
            font-size: 14px;
          }
        }
      }
      .berus_box {
        margin-top: 75px;
        height: 538px;
        flex-direction: column;
        background: url("../../../assets/mobile/home/berus_bg.png") no-repeat center;
        background-size: cover;
        .left {
          width: 337.16px;
          height: 302px;
          background: url("../../../assets/mobile/home/beruscoin.png") no-repeat center;
          background-size: cover;
          &::after {
            content: "";
            background: url("../../../assets/mobile/home/box_shadowbg.png") no-repeat center;
            background-size: 100% 100%;
            left: 2%;
            top: 0;
            width: 96%;
            height: 100%;
            transform: none;
            // border-radius: 30px 30px 0 0;
          }
        }
        .right {
          width: 100%;
          margin-left: 0;
          width: 307px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .title {
            font-size: 38px;
            margin-top: 33px;
            margin-bottom: 30px;
          }
          .content {
            font-size: 14px;
            text-align: center;
          }
        }
      }
      .join_box {
        margin-top: 63px;
        .title {
          font-size: 38px;
          margin-bottom: 0;
        }
        ul {
          width: 100%;
          margin-top: 33px;
          li {
            justify-content: space-between;
            p {
              font-size: 12px;
            }
          }
          li:nth-child(1) {
            img {
              width: 45px;
              height: 37px;
            }
          }
          li:nth-child(2),
          :nth-child(3) {
            img {
              width: 37px;
              height: 37px;
            }
          }
          li:nth-child(4) {
            img {
              width: 46px;
              height: 34px;
            }
          }
        }
      }
    }
    .bg_box {
      width: 237%;
      left: -453px;
      top: 140px;
    }
  }
  .block4 {
    .title {
      margin-top: 60px;
      font-size: 38px;
      margin-bottom: 54px;
    }
    .content_box {
      width: 100%;
      background-size: auto;
      .container_box {
        width: 100%;
        padding: 0 26px;

        ul {
          li {
            width: 100%;
            height: 278px;
            padding: 30px 21px;
            // background: url("../../../assets/mobile/home/roadmap_bg.png") no-repeat center;
            // background-size: 100% 100%;
            background: linear-gradient(116.29deg, rgba(98, 98, 98, 0.28) -16.91%, rgba(0, 0, 0, 0.28) 101.76%);
            backdrop-filter: blur(70.1887px);
            /* Note: backdrop-filter has minimal browser support */
            border: 1px solid rgba(98, 98, 98, 0.28);
            border-radius: 21.0566px;
            .title_name {
              font-size: 28px;
            }
            .content_contain {
              padding: 20px 10px;
              padding-left: 20px;
              .content {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .block5 {
    margin-top: 0;
    .title {
      margin-top: 0;
      font-size: 38px;
      margin-bottom: 50px;
    }
    .container_box {
      width: 100%;
      padding: 0 26px;
      ul {
        width: 100%;
        li {
          width: 50%;
          margin-bottom: 28px;
          &:nth-child(1) {
            img {
              width: 142.31px;
              height: 66.41px;
            }
          }
          &:nth-child(2) {
            img {
              width: 133.82px;
              height: 33.46px;
            }
          }
          &:nth-child(3) {
            img {
              width: 142.31px;
              height: 33.95px;
            }
          }
          &:nth-child(4) {
            img {
              width: 147.3px;
              height: 45.94px;
            }
          }
          &:nth-child(5) {
            img {
              width: 159.79px;
              height: 48.93px;
            }
          }
          &:nth-child(6) {
            img {
              width: 153.29px;
              height: 66.41px;
            }
          }
        }
      }
    }
    .bottom_bg {
      top: 200px;
    }
  }
}
