.home_box {
  .block1 {
    width: 100%;
    min-height: 100vh;
    position: relative;

    video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -200px;
    }

    .center_box {
      width: 1200px;
      margin: 0 auto;
      position: relative;
      padding-top: 20px;

      .content_box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // position: absolute;
        z-index: 1;

        // top: -510px;
        img {
          width: 50%;
          height: auto;
        }

        .word_content {
          font-size: 36px;
          width: 1000px;
          text-align: center;
        }

        .bottom_centent {
          display: flex;
          align-items: center;

          .start_box {
            width: 148.27px;
            height: 45.39px;
            background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
          }

          .more_box {
            margin-left: 26px;
            font-size: 17px;
            position: relative;
            cursor: pointer;

            &::after {
              content: "";
              position: absolute;
              right: -30px;
              top: 50%;
              transform: translateY(-50%);
              background: url("../../../assets/home/Arrow.png") no-repeat center;
              background-size: cover;
              width: 20px;
              height: 12px;
            }
          }
        }
      }
    }
  }

  .block2 {
    min-height: 100vh;

    .container_box {
      width: 1200px;
      margin: 0 auto;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;

      // justify-content: center;
      img {
        width: 1150px;
        height: 404px;
      }

      p {
        width: 777px;
        font-size: 20px;
        text-align: center;
        margin-top: 47px;
      }

      .white_box {
        width: 162px;
        height: 45px;
        background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
        border-radius: 50px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-top: 40px;
      }
    }
  }

  .block3 {
    width: 100%;
    position: relative;

    // padding-top: 100px;
    .container {
      width: 1200px;
      margin: 0 auto;

      .first_nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 1;

        li {
          position: relative;
          width: 580px;
          height: 595px;
          background: url("../../../assets/home/list_bg.png") no-repeat center;
          background-size: 100% 100%;
          margin-bottom: 65px;
          padding: 20px 34px;
          padding-bottom: 34px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            margin: 0;
            padding: 0;
          }

          .top {
            .title {
              font-size: 64.4px;
            }

            .content {
              font-size: 20px;
              margin-top: 18px;
            }
          }

          .bottom {
            cursor: pointer;
            width: 198px;
            height: 47px;
            background: url("../../../assets/home/bottom_btn.png") no-repeat center;
            background: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow {
              width: 20px;
              height: 12px;
              background: url("../../../assets/home/Arrow.png") no-repeat center;
              background-size: cover;
              margin-left: 9px;
            }
          }

          &::after {
            content: "";
            width: 310px;
            height: 325px;
            position: absolute;
            bottom: 0;
            right: 0;
          }

          &:nth-child(1) {
            &::after {
              background: url("../../../assets/home/cdoge.png") no-repeat center;
            }
          }

          &:nth-child(2) {
            &::after {
              background: url("../../../assets/home/cnft.png") no-repeat center;
            }
          }

          &:nth-child(3) {
            &::after {
              background: url("../../../assets/home/cswap.png") no-repeat center;
            }
          }

          &:nth-child(4) {
            &::after {
              background: url("../../../assets/home/ctaik.png") no-repeat center;
            }
          }
        }
      }

      .berus_box {
        margin-top: 150px;
        width: 100%;
        background: #000000;
        border: 1px solid #727272;
        backdrop-filter: blur(100px);
        height: 349px;
        border-radius: 30px;
        display: flex;
        align-items: center;

        .left {
          width: 494px;
          height: 312px;
          background: url("../../../assets/home/beruscoin.png") no-repeat center;
          background-size: cover;
          position: relative;

          &::after {
            content: "";
            width: 151px;
            height: 385px;
            position: absolute;
            background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 74.32%);
            transform: rotate(-90deg);
            left: 138px;
            top: -126px;
          }
        }

        .right {
          width: 719px;
          margin-left: 54px;

          p {
            margin: 0;
            padding: 0;
          }

          .title {
            font-size: 64.4px;
            margin-bottom: 20px;
          }

          .content {
            font-size: 20px;
          }
        }
      }

      .join_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 160px;

        .title {
          font-size: 64.4035px;
          margin: 0;
          margin-bottom: 64px;
        }

        ul {
          width: 80%;
          display: flex;
          justify-content: space-between;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            img {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .bg_box {
      position: absolute;
      width: 100%;
      height: 2500px;
      background: url("../../../assets//home/big_bg.png") no-repeat center;
      background-size: 100% 100%;
      left: 0;
      top: -216px;
      z-index: -1;
    }
  }

  .block4 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 64.4035px;
      text-align: center;
      margin: 0;
      margin-top: 178px;
      margin-bottom: 135px;
    }

    .content_box {
      background: url("../../../assets/home/block4_bg.png") no-repeat center;
      background-size: contain;
      height: 100%;
      width: 100%;

      .container_box {
        width: 1100px;
        margin: 0 auto;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          li {
            width: 530px;
            height: 397px;
            background-image: url("../../../assets//home/romap.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: linear-gradient(116.29deg,
                rgba(98, 98, 98, 0.28) -16.91%,
                rgba(0, 0, 0, 0.28) 101.76%);
            background-size: 100% 100%;
            margin-bottom: 65px;
            padding: 30px 42px;

            p {
              margin: 0;
              padding: 0;
            }

            .title_name {
              font-size: 40px;
            }

            .content_contain {
              padding: 20px 44px;
              padding-right: 0;

              p {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  .block5 {
    width: 100%;
    // min-height: 100vh;
    margin-bottom: 130px;
    position: relative;

    .bottom_bg {
      width: 795px;
      height: 795px;
      background: url("../../../assets/home/bg-gradient-img.png") no-repeat center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    .title {
      font-size: 64.4035px;
      text-align: center;
      margin: 0;
      margin-top: 78px;
      margin-bottom: 100px;
    }

    ul {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      li {
        width: 33%;
        display: flex;
        justify-content: center;
      }
    }
  }
}