.mobile_dog_box {
    width: 100%;
    margin-top: 4rem;
    height: calc(100vh - 4rem);
    position: relative;
    .big_bg {
      position: absolute;
      top: -4rem;
      left: 0;
      width: 100%;
      height: 100vh;
      background:url("../../../assets/mobile/phone_back.png") no-repeat center;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      p {
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 82.6119px;
        display: inline-block;
        background: linear-gradient(270deg, rgb(255, 115, 86) 0%, rgb(255, 89, 226) 25.52%, rgb(82, 221, 246) 50%, rgb(234, 223, 78) 76.04%, rgb(255, 115, 86) 100%) 0% 0% / 200%;
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
        animation: 4s linear 0s infinite normal none running eEGgoN;
      }
      @keyframes eEGgoN {
        100% {
          background-position: 200% center;
      }
      }
    }
}