.footer_box {
  width: 100%;
  // min-height: 200px;
  padding-bottom: 20px;
  .container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    .left {
      ul {
        display: flex;
        align-items: center;
        li {
          margin-right: 62px;
          cursor: pointer;
          a {
            font-size: 17px;
            color: #fff;
          }
        }
      }
      .contact_title {
        color: #a4a4a4;
      }
    }
    .right {
      display: flex;
      ul {
        display: flex;
        align-items: center;
        li {
          margin-right: 24px;
          img {
            cursor: pointer;
          }
        }
      }
    }
  }
  .bg_box {
    height: 794.57px;
    width: 795.2px;
    background: url("../../../assets/home/bg-gradient-img.png") no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: -600px;
    z-index: -1;
  }
}
