.mobile_cnft_box {
  width: 100%;
  position: relative;
  .block1 {
    height: 467px;
    video {
      width: auto;
    }
    .center_cont  {
      top: 93px;
      .left_cont {
        .top_tile {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 800;
          font-size: 38px;
          line-height: 52px;
        }
        .bottom_content  {
          width: 363px;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          color: #FFFFFF;
          height: 66px;
          margin-bottom: 11px;
        }
      }
    }
  }
}
